/node_modules
/public/hot
/public/storage
/public/js
/public/css
/public/fonts
/public/mix-manifest.json
/storage/*.key
/resources/wechat_pay
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
